@using OnlineTravelDiary.Models;
<head><link rel="stylesheet" type="text/css" href="~/css/styles.css" /></head>
<h1>My Travels</h1>
<li><img src='~/img/beach.jpg'/></li>

<ul>
  @foreach(Place place in Model)
  {
    <li><a href='/places/@place.Id'>@place.CityName</a></li>
  }

</ul>

<a href="/places/new">Add a Trip!</a>