@using OnlineTravelDiary.Models;
<h1>My Travels</h1>

<ul>
  @foreach(Place place in Model)
  {
    <li><a href='/places/@place.Id'>@place.CityName</a></li>
  }

</ul>

<a href="/places/new">Add a Trip!</a>